<% @articles.each do |article| %>
<div class="post-preview">
  <a href=<%= "articles/#{article.id}" %>>
    <h2 class="post-title">
      <%= article.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= article.text %>
    </h3>
  </a>
  <p class="post-meta">Posted by
    <a href="#">Mikhail</a>
    on <%= article.created_at.strftime("%B %d, %Y") %></p>
</div>
<% end %>
<hr>
